@media only screen and (max-width: 600px) {

    .table{
        background-color: red;
    }

    th{
        font-size: 0.5rem!important;
        width: 30px!important;
    }

    #payBtn{
        font-size: 0.5rem;
        width: 100%;
    }

    td{
        background-color: white!important;
        font-size: 0.5rem!important;
    }

  }