* {
  margin: 0;
  padding: 0;
}

#coupon {
  height: 100px;
  width: 100%;
  background-color: #eb9f37;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron {
  height: 400px;
  width: 100%;
  padding-top: 5%;
  background-image: url("../banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
}

#feature{
  padding-top: 2rem;
}

#features{
  padding-top: 3rem;
}

#card{
  width: 25rem;
  height: 20rem;
  background-color: black;
  color: white;
}

p{
  padding-top: 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {

  #cusFeatureCol{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #card{
    width: 22rem;
    height: 16rem;
    margin-bottom: 3rem;
  }

  #aboutUs{
    padding-top: 2rem;
  }

  .modal-dialog{
    margin-top: 5rem!important;
    width: 370px!important;
    position: absolute;
  }

  #outer-section{
    width: 100vw;
    height: 1200px!important;
  }

}