@media only screen and (max-width: 600px) {
  .row{
    width: 350px!important;
  }
  .table {
    margin-top: 15px;
    width: 90vw!important;
  }
  th {
    font-size: 1.3rem;
  }
  td {
    font-size: 1.1rem;
  }

  #outlet{
    width: 400px;
  }
}
